<table class='calendarTable'>
  <thead>
  <tr>
    <td class='calendarTable__addVocation'>
      <button (click)='modalToggle()' class='button button_a'>
        <img [src]='iconPlusUrl' alt='#'/>
        <span>Add Vacation</span>
      </button>
    </td>
    <!--    {allDays.map((day, i) => {-->
    <!--    return (-->
<!--    <td [ngClass]='{calendarTable__dayOff: day.isDayOff === true}'>-->
<!--      <span>{day.dayName}</span>-->
<!--      <span>{day.date}</span>-->
<!--    </td>-->
    <!--						)-->
    <!--    })}-->
  </tr>
  </thead>
  <tbody>
  <!--  <Teams allDays={allDays} teams={teams} date={date} />-->
  </tbody>
</table>
