<div class="container">
  <app-navigation [date]="date" (newDate)="changeDate($event)"></app-navigation>
  <app-table *ngIf="isLoading" [teams]="teams" [date]="date" [allDays]="getDaysOfActivePeriod()"></app-table>
  <div *ngIf="!isLoading" class='loading__wrapper'>
    <div class='lds-dual-ring'></div>
  </div>
  <!-- <app-modal
    [teams]="teamsDepartments.teams"
    [startDayVacation]="startDayVacation"
    [endDayVacation]="endDayVacation"
    (someEvent)="checkState()"
    (startDateVacationInput)="handleStartDayVacation($event)"
    (endDateVacationInput)="handleEndDayVacation($event)"
  ></app-modal> -->
</div>
